@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

*{
    margin:0;
    padding:0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 12px;}
a{
    text-decoration:none ;
    color:#333;}

img{
    border: 0;}
    
ul,li{
    list-style: none;}